################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/servmmo
/servmmo/x64/Debug
/x64/Debug
/NetClient/x64/Debug
/NetCommon/x64/Debug
/Balls/x64/Debug
/Balls/x64/Release
/x64/Release
